@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  background-color: #333;
  font-size: 1.6rem;
  color: white;
  font-family: sans-serif;
}
